h1 {
  text-align: center;
  font-size: 86px;
  color: green;
}
html {
  background-color: wheat;
  background-image: (/home/andrew/Downloads/pexels-photo-207171.jpeg);
}
.menu {
  text-align: center;
  font-size: 60px;
  color: green;
}
h2 {
  font-size: 50px
}
img pun {
  float: right;
}
body{
  text-align: center;
}
.win {
  border-radius: 379px;
}
.mon{
  font-size: 45px;
  border-radius: 40px;
}
.juice{
reserved: rainbow;
}
